h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}
p {
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 1rem; /* Font Scale */
}

body {
  background-color: rgb(231, 231, 231);
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
